$friendlink-height: 150px;

$friendlink-border-radius: 6px !default;

$friendlink-border-color: (
  light: #3eaf7c,
  dark: #267451,
) !default;

$friendlink-fontsize: 105% !default;

$hero-margin: 5vh !default;
